{% extends "network/layout.html" %}

{% block body %}
    <div class="conference-container">
        <div class="conference-v-panels">
            <div class="pv-error-0 lcars-top-left"></div>
            <div class="pv-error-1 vt-panel"></div>
            <div class="pv-error-2 vt-panel"></div>
            <div class="pv-error-3 vt-panel"></div>
        </div>

        <div class="conference-content">
            <div class="hz-panel-container">
                <div class="ph-error-0 hz-panel hz-p0"></div>
                <div class="ph-error-1 hz-panel hz-p1"></div>
                <div class="ph-error-2 hz-panel hz-p2"></div>
                <div class="ph-error-3 hz-panel hz-p3"></div>
                <div class="ph-error-4 hz-panel hz-p4"></div>
                <div class="ph-error-5 hz-panel hz-p5"></div>
            </div>
            <div class="error-corner-box">
                <div class="corner top-left-corner">
                </div>
            </div>

            <div class="main-container error-message">
                    <h2>CANNOT COMPLY</h2>
                    <p>{{ message|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

