{% extends "network/layout.html" %}

{% block body %}
    <div class="conference-container">
        <div class="vt-panel-container panels-error">
            <div class="vt-p0 lcars-top-left"><div class="panel-num">99<span class="extra-digits">-000.0</span></div></div>
            <div class="vt-p1 vt-panel"></div>
            <div class="vt-p2 vt-panel"><div class="panel-num">15<span class="extra-digits">-7386</span></div></div>
            <div class="vt-p3 vt-panel"><div class="panel-num">32<span class="extra-digits">-4371</span></div></div>
        </div>

        <div class="conference-content">
            {% include "network/components/lcars_hz_top.html" with hz_identifier_class="panels-error" %}

            <div class="main-container error-message">
                    <h2>CANNOT COMPLY</h2>
                    <p>{{ message|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

