{% extends "network/layout.html" %}

{% block title %}
- Following
{% endblock %}

{% block body %}
    <div class="conference-container">
        <div class="vt-panel-container panels-following">
            {% include "network/components/lcars_vt_block.html" with pos="0" num="17" ext="184.3" %}
            {% include "network/components/lcars_vt_block.html" with pos="1" num="38" ext="7193" %}
            {% include "network/components/lcars_vt_block.html" with pos="2" num="83" ext="9932" %}
            {% include "network/components/lcars_vt_block.html" with pos="3" %}
            {% include "network/components/lcars_vt_block.html" with pos="4" num="25" ext="1764" %}
            {% include "network/components/lcars_vt_block.html" with pos="5" %}
            {% include "network/components/lcars_vt_block.html" with pos="6" num="79" ext="7372" %}
            {% include "network/components/lcars_vt_block.html" with pos="7" num="35" ext="1263" %}
            {% include "network/components/lcars_vt_block.html" with pos="8" %}
            {% include "network/components/lcars_vt_block.html" with pos="9" num="56" ext="3842" %}
        </div>

        <div class="conference-content">
            {% include "network/components/lcars_hz_top.html" with hz_identifier_class="panels-following" %}

            <div class="posts-container">
                <h2>CHANNEL: FOLLOWING</h2>
            
{% for post in page %}
                {% include "network/components/post.html" with post=post %}
{% empty %}
    {% if isFollowing %}
                <p>NONE OF THE USERS YOU ARE FOLLOWING HAVE POSTED ANYTHING YET.</p>
    {% else %}
                <p>YOU ARE NOT FOLLOWING ANYONE. GO TO A USER'S PROFILE AND CLICK THE BUTTON TO FOLLOW THEM.</p>
    {% endif %}
{% endfor %}
            </div>

{% if page.has_other_pages %}
            {% include "network/components/pagination.html" with page=page %}
{% endif %}
        </div>
    </div>
{% endblock %}