{% extends "network/layout.html" %}

{% block body %}

{# Posts list #}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Following</h2>
            </div>
        </div>

        <div id="all-posts">
{% for post in page %}
            <div class="post">
                <div class="row pheader">
                    <div class="col-12 pcont-user">
                        By <a href="{% url 'profile' post.poster.id %}">{{  post.poster.username }}</a> on {{  post.created_on }}
                    </div>
                </div>
                <div class="row pbody">    
                    <div class="col">
                        <div class="pcont-content" id="post_content_{{ post.id }}">
                            {{ post.content }}
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="pcont-likes">
    {% if user.is_authenticated and user.username != post.poster.username %}
                            <p class="pcont-likecount">
                                <span class="likes_count" id="num_likes_{{ post.id }}">{{ post.count_likes }}</span> likes
                            </p>
                            <button class="like_btn unliked" data-id="{{ post.id }}" data-status="?" data-viewname="likes"></button>
    {% else %}
                            <div class="like_pane_replacement">
                                <p class="pcont-likecount">likes</p>
                                <p class="num-inc-likes">{{ post.count_likes }}</p>
                            </div>
    {% endif %} 
                        </div>
    {% if user.is_authenticated and user.username == post.poster.username %}
                        <button class="edit_btn post-hollow-btn" data-id="{{ post.id }}" id="edit_btn_{{ post.id }}">edit</button>
    {% endif %}
                    </div>
                </div>
            </div>
{% empty %}
            <div class="row">
                <div class="col-12">
                    <p> Follow other users to view their posts here.</p>
                </div>
            </div>
{% endfor %}
        </div>

    {% if page.has_other_pages %}
        <nav aria-label="See more posts">
            <ul class="pagination justify-content-center">

        {% if page.paginator.num_pages > 2 %}
            {% if page.number > 1 %}
                <li class="page-item"><a class="page-link" href="?page=1">Newest</a></li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Newest</span>
                </li>
            {% endif %}
        {% endif %}

        {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a></li>
        {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
        {% endif %}

                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                    {{ page.number }} of {{ page.paginator.num_pages }}
                    <span class="sr-only">(current)</span>
                    </span>
                </li>

        {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>
        {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
        {% endif %}

        {% if page.paginator.num_pages > 2 %}
            {% if page.number < page.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">Oldest</a></li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Oldest</span>
                </li>
            {% endif %}
        {% endif %}
            </ul>
        </nav>
    {% endif %}
    </div>
{% endblock %}