{% extends "network/layout.html" %}

{% block title %}
- Following
{% endblock %}

{% block body %}
    <div class="conference-container">
        <div class="vt-panel-container panels-following">
            <div class="vt-p0 lcars-top-left"><div class="panel-num">17<span class="extra-digits">-184.3</span></div></div>
            <div class="vt-p1 vt-panel"><div class="panel-num">38<span class="extra-digits">-7183</span></div></div>
            <div class="vt-p2 vt-panel"><div class="panel-num">83<span class="extra-digits">-9932</span></div></div>
            <div class="vt-p3 vt-panel"></div>
            <div class="vt-p4 vt-panel"><div class="panel-num">25<span class="extra-digits">-1764</span></div></div>
            <div class="vt-p5 vt-panel"></div>
            <div class="vt-p6 vt-panel"><div class="panel-num">79<span class="extra-digits">-7372</span></div></div>
            <div class="vt-p7 vt-panel"><div class="panel-num">35<span class="extra-digits">-1263</span></div></div>
            <div class="vt-p8 vt-panel"></div>
            <div class="vt-p9 vt-panel"><div class="panel-num">56<span class="extra-digits">-3842</span></div></div>
        </div>

        <div class="conference-content">
            {% include "network/components/lcars_hz_top.html" with hz_identifier_class="panels-following" %}

            <div class="posts-container">
                <h2>CHANNEL: FOLLOWING</h2>
            
{% for post in page %}
                {% include "network/components/post.html" with post=post %}
{% empty %}
    {% if isFollowing %}
                <p>NONE OF THE USERS YOU ARE FOLLOWING HAVE POSTED ANYTHING YET.</p>
    {% else %}
                <p>YOU ARE NOT FOLLOWING ANYONE. GO TO A USER'S PROFILE AND CLICK THE BUTTON TO FOLLOW THEM.</p>
    {% endif %}
{% endfor %}
            </div>

{% if page.has_other_pages %}
            {% include "network/components/pagination.html" with page=page %}
{% endif %}
        </div>
    </div>
{% endblock %}