{% extends "network/layout.html" %}

{% block body %}

{% if form %}
    <div id="add-post">
        <h2>New Post</h2>
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input value="Post" type="submit">
        </form>
    </div>
{% endif %}

    <div id="all-posts">
        {% for post in posts %}
            <div class="post">
                <div class="pcont-user">
                    <a href="{% url 'profile' post.poster.id %}">{{  post.poster.username }}</a>
                </div>
                <div class="pcont-time">
                    {{  post.created_on }}
                </div>

            {% if user.is_authenticated and user.username == post.poster.username %}
                <div class="pcont-edit">
                    [EDIT]
                </div>
            {% endif %}

                <div class="pcont-content">
                    {{ post.content }}
                </div>

                <div class="pcont-likes">
                    {{ post.count_likes }} likes
                </div>

            </div>
        {% empty %}
            <p> No posts. Yours can be the first! :)</p>
        {% endfor %}
    </div>
{% endblock %}