{% extends "network/layout.html" %}

{% block body %}
{% if form and user.is_authenticated %}
<div class="two-column-body">

    <div class="respond-container">

        <div class="vt-panel-container panels-respond">
            {% include "network/components/lcars_vt_block.html" with pos="0" num="11" ext="879.3" %}
            {% include "network/components/lcars_vt_block.html" with pos="1" num="84" ext="7653" %}
            {% include "network/components/lcars_vt_block.html" with pos="2" num="42" ext="2000" %}
        </div>

        <div class="respond-content">

            {% include "network/components/lcars_hz_top.html" with hz_identifier_class="panels-respond hz-top" %}

            <div id="add-post">
                <h2>RESPOND</h2>
                <form action="{% url 'posts' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input value="TRANSMIT" type="submit" class="post-btn lcars-btn" id="new-post-btn">
                </form>
            </div>

            {% include "network/components/lcars_hz_bottom.html" with hz_identifier_class="panels-respond hz-btm" %}

        </div>
    </div>
{% endif %}

    <div class="conference-container">
        <div class="vt-panel-container panels-conference">
            {% include "network/components/lcars_vt_block.html" with pos="0" num="84" ext="430.9" %}
            {% include "network/components/lcars_vt_block.html" with pos="1" num="93" ext="4374" %}
            {% include "network/components/lcars_vt_block.html" with pos="2" num="66" ext="777" %}
            {% include "network/components/lcars_vt_block.html" with pos="3" %}
            {% include "network/components/lcars_vt_block.html" with pos="4" num="42" ext="1634" %}
            {% include "network/components/lcars_vt_block.html" with pos="5" %}
            {% include "network/components/lcars_vt_block.html" with pos="6" num="76" ext="8147" %}
            {% include "network/components/lcars_vt_block.html" with pos="7" num="17" ext="6228" %}
            {% include "network/components/lcars_vt_block.html" with pos="8" %}
            {% include "network/components/lcars_vt_block.html" with pos="9" num="90" ext="0117" %}
        </div>

        <div class="conference-content">
            {% include "network/components/lcars_hz_top.html" with hz_identifier_class="panels-conference" %}

            <div class="posts-container">
                <h2>CONFERENCE</h2>
            
{% for post in page %}
                {% include "network/components/post.html" with post=post %}             
{% empty %}
                <p> NO POSTS. YOURS CAN BE THE FIRST! {% if not user.is_authenticated %} <a href="{% url 'register' %}">REGISTER HERE</a> {% endif %} :)</p>
{% endfor %}
        </div>

{% if page.has_other_pages %}
        {% include "network/components/pagination.html" with page=page %}
{% endif %}
        </div>
    </div>
{% if form and user.is_authenticated %}
</div>
{% endif %}
{% endblock %}