{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blather{% block title %}{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Oswald:wght@700&display=swap" rel="stylesheet"> 

        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/scripts.js' %}"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="header_container">
            <div class="left_panels">
                <div class="header_0"></div>
                <div class="header_1"></div>
                <div class="header_2"></div>
            </div>
            <div class="right_container">
                <nav>
                    <div class="main_title_container">
                        <div class="main_title_before"></div>
                        <a class="main_title" href="#">SECURE COMMS</a>
                        <div class="main_title_after"></div>
                    </div>
                    <div class="header_top_corner_box">
                        <div class="header_top_corner">
                        </div>
                    </div>
                    <div class="lcars_nav_container">
                        <ul class="lcars_nav">  
                        {% if user.is_authenticated %}
                            <li class="lcars_btn lcars_4 lcars_nav_btn">
                                <a href="{% url 'profile' user.id %}"><strong>{{ user.username }}</strong></a>
                            </li>
                        {% endif %}
                            <li class="lcars_btn lcars_0 lcars_nav_btn">
                                <a href="{% url 'index' %}">ALL POSTS</a>
                            </li>
                        {% if user.is_authenticated %}
                            <li class="lcars_btn lcars_4 lcars_nav_btn">
                                <a href="{% url 'following' %}">FOLLOWING</a>
                            </li>
                            <li class="lcars_btn lcars_1 lcars_nav_btn">
                                <a href="{% url 'logout' %}">LOG OUT</a>
                            </li>
                        {% else %}
                            <li class="lcars_btn lcars_1 lcars_nav_btn">
                                <a href="{% url 'login' %}">LOG IN</a>
                            </li>
                            <li class="lcars_btn lcars_4 lcars_nav_btn">
                                <a href="{% url 'register' %}">REGISTER</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </nav>
                <div class="header_bottom_corner_box">
                    <div class="header_bottom_corner">
                    </div>
                </div>
                <div class="end_header">
                    <div class="eh_panel eh_panel_0"></div>
                    <div class="eh_panel eh_panel_1"></div>
                    <div class="eh_panel eh_panel_2"></div>
                    <div class="eh_panel eh_panel_3"></div>
                    <div class="eh_panel eh_panel_4"></div>
                    <div class="eh_panel eh_panel_5"></div>
                </div>
            </div>
        </div>

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>