{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Starfleet Secure Comms{% block title %}{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Oswald:wght@700&display=swap" rel="stylesheet"> 

        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/scripts.js' %}"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="header-container">
            <div class="header-v-panels panels-header">
                <div class="vt-p0"></div>
                <div class="vt-p1 vt-panel"></div>
                <div class="vt-p2 vt-panel"></div>
            </div>
            <div class="header-content">
                <nav>
                    <div class="main-title-container">
                        <div class="main-title-before"></div>
                        <a class="main-title" href="#">SECURE COMMS</a>
                        <div class="main-title-after"></div>
                    </div>
                    <div class="corner-box panels-header hz-top">
                        <div class="top-left-corner corner">
                        </div>
                    </div>

                    <div class="lcars-nav-container">
                        <ul>  
                        {% if user.is_authenticated %}
                            <li>
                                <a class="lcars-nav-btn nav-user" href="{% url 'profile' user.id %}"><span><strong>{{ user.username|upper }}</strong></span></a>
                            </li>
                        {% endif %}
                            <li>
                                <a class="lcars-nav-btn nav-allposts" href="{% url 'index' %}"><span>ALL POSTS</span></a>
                            </li>
                        {% if user.is_authenticated %}
                            <li>
                                <a class="lcars-nav-btn nav-following" href="{% url 'following' %}"><span>FOLLOWING</span></a>
                            </li>
                            <li>
                                <a class="lcars-nav-btn nav-logout" href="{% url 'logout' %}"><span>LOG OUT</span></a>
                            </li>
                        {% else %}
                            <li>
                                <a class="lcars-nav-btn nav-login" href="{% url 'login' %}"><span>LOG IN</span></a>
                            </li>
                            <li>
                                <a class="lcars-nav-btn nav-register" href="{% url 'register' %}"><span>REGISTER</span></a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </nav>

                <div class="corner-box panels-header hz-btm">
                    <div class="corner bottom-left-corner">
                    </div>
                </div>
                <div class="hz-panel-container panels-header">
                    <div class="hz-panel hz-p0"></div>
                    <div class="hz-panel hz-p1"></div>
                    <div class="hz-panel hz-p2"></div>
                    <div class="hz-panel hz-p3"></div>
                    <div class="hz-panel hz-p4"></div>
                    <div class="hz-panel hz-p5"></div>
                </div>
            </div>
        </div>

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>