{% extends "network/layout.html" %}

{% load static %}

{% block title %}
- Profile for {{ profile_user.username }}
{% endblock %}

{% block script %}
    <script>
        num_followers = parseInt('{{followers_count|safe}}');
        user_id = '{{ profile_user.id|safe }}';
        str_following = '{{ is_following|safe }}'.toLowerCase();
        user_isauth = '{{ user.is_authenticated }}';
        username = '{{user.username}}';
        profile = '{{ profile_user.username }}';
    </script>

    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}

{% block body %}
    <div class="conference-container">
        <div class="conference-v-panels panels-profile">
            <div class="vt-p0 lcars-top-left"></div>
            <div class="vt-p1 vt-panel"></div>
            <div class="vt-p2 vt-panel"></div>
            <div class="vt-p3 vt-panel"></div>
            <div class="vt-p4 vt-panel"></div>
            <div class="vt-p5 vt-panel"></div>
            <div class="vt-p6 vt-panel"></div>
            <div class="vt-p7 vt-panel"></div>
            <div class="vt-p8 vt-panel"></div>
            <div class="vt-p9 vt-panel"></div>
        </div>

        <div class="conference-content">
            <div class="hz-panel-container panels-profile">
                <div class="hz-panel hz-p0"></div>
                <div class="hz-panel hz-p1"></div>
                <div class="hz-panel hz-p2"></div>
                <div class="hz-panel hz-p3"></div>
                <div class="hz-panel hz-p4"></div>
                <div class="hz-panel hz-p5"></div>
            </div>
            <div class="corner-box panels-profile">
                <div class="corner top-left-corner">
                </div>
            </div>

            <div class="all-posts">
                <h2>PROFILE: {{ profile_user.username|upper }}</h2>

                <div class="follow-stats-container">
                    <div class="user-follows">
                        <div class="stats-label"><label>FOLLOWS</label></div>
                        <div class="stats-block"></div>
                        <div class="stats-result-btn">
                            <div class="stats-result"><span>{{ following_count }}</span></div>
                        </div>
                    </div>
                    <div class="following-user">
                        <div class="stats-label"><label>FOLLOWED BY</label></div>
                        <div class="stats-block"></div>
                        <div id="followers-react" class="stats-result-btn"></div>
                        <script src="{% static 'network/follower_react.js' %}" type="text/babel"></script>
                    </div>
                </div>
                <hr>
{% for post in page %}
                <div class="post-container">
                    <div class="post-section-date-edit">
                        {{  post.created_on|date:"Ymd.His" }} <small>({{  post.created_on|date:"d M Y, H:i:s" }})</small><br>
                            
    {% if user.is_authenticated and user.username == post.poster.username %}
                        <button class="edit-btn lcars-btn" data-id="{{ post.id }}" id="edit_btn_{{ post.id }}"><span>EDIT</span></button>
    {% endif %}
                    </div>

                    <div class="post-section-content">    
                        <a href="{% url 'profile' post.poster.id %}">{{  post.poster.username|upper }}</a>
                        <div class="pcont-content" id="post_content_{{ post.id }}">
                            {{ post.content|upper }}
                        </div>
                    </div>

                    <div class="post-section-likes"> 
                        <p><span id="num_likes_{{ post.id }}">{{ post.count_likes }}</span> LIKES</p>

    {% if user.is_authenticated and user.username != post.poster.username %}
                        <button class="like-btn lcars-btn unliked" data-id="{{ post.id }}" data-status="?" data-viewname="likes"></button>
    {% endif %} 
                    </div>
                </div>
                    
{% empty %}
                <p>This user has not posted anything yet.</p>
{% endfor %}
        </div>

{% if page.has_other_pages %}
            <nav aria-label="See more posts" id="pagination-nav">
                <ul class="pagination justify-content-center">

    {% if page.paginator.num_pages > 2 %}
        {% if page.number > 1 %}
                    <li class="page-item"><a class="page-link page-newest" href="?page=1">NEW</a></li>
        {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">NEW</span>
                    </li>
        {% endif %}
    {% endif %}

    {% if page.has_previous %}
                    <li class="page-item"><a class="page-link page-previous" href="?page={{ page.previous_page_number }}">PREV.</a></li>
    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">PREV.</span>
                    </li>
    {% endif %}

                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                        {{ page.number }}&nbsp;OF&nbsp;{{ page.paginator.num_pages }}
                        <span class="sr-only">(current)</span>
                        </span>
                    </li>

    {% if page.has_next %}
                    <li class="page-item"><a class="page-link page-next" href="?page={{ page.next_page_number }}">NEXT</a></li>
    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">NEXT</span>
                    </li>
    {% endif %}

    {% if page.paginator.num_pages > 2 %}
        {% if page.number < page.paginator.num_pages %}
                    <li class="page-item"><a class="page-link page-oldest" href="?page={{ page.paginator.num_pages }}">OLD</a></li>
        {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">OLD</span>
                    </li>
        {% endif %}
    {% endif %}
                </ul>
            </nav>
{% endif %}
        </div>
    </div>

{% endblock %}