{% extends "network/layout.html" %}

{% load static %}

{% block title %}
- Profile for {{ profile_user.username }}
{% endblock %}

{% block script %}
    <script>
        num_followers = parseInt('{{followers_count|safe}}');
        user_id = '{{ profile_user.id|safe }}';
        str_following = '{{ is_following|safe }}'.toLowerCase();
        user_isauth = '{{ user.is_authenticated }}';
        username = '{{user.username}}';
        profile = '{{ profile_user.username }}';
    </script>

    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}

{% block body %}
    <div class="conference-container">
        <div class="vt-panel-container panels-profile">
            <div class="vt-p0 lcars-top-left"><div class="panel-num">41<span class="extra-digits">-843.2</span></div></div>
            <div class="vt-p1 vt-panel"><div class="panel-num">62<span class="extra-digits">-7434</span></div></div>
            <div class="vt-p2 vt-panel"><div class="panel-num">49<span class="extra-digits">-8975</span></div></div>
            <div class="vt-p3 vt-panel"></div>
            <div class="vt-p4 vt-panel"><div class="panel-num">55<span class="extra-digits">-8901</span></div></div>
            <div class="vt-p5 vt-panel"></div>
            <div class="vt-p6 vt-panel"><div class="panel-num">31<span class="extra-digits">-2384</span></div></div>
            <div class="vt-p7 vt-panel"><div class="panel-num">86<span class="extra-digits">-7864</span></div></div>
            <div class="vt-p8 vt-panel"></div>
            <div class="vt-p9 vt-panel"><div class="panel-num">00<span class="extra-digits">-6391</span></div></div>
        </div>

        <div class="conference-content">
            {% include "network/components/lcars_hz_top.html" with hz_identifier_class="panels-profile" %}

            <div class="posts-container">
                <h2>PROFILE: {{ profile_user.username|upper }}</h2>

                <div class="follow-stats-container">
                    <div class="user-follows">
                        <div class="stats-label"><label>FOLLOWS</label></div>
                        <div class="stats-block"></div>
                        <div class="stats-result-btn">
                            <div class="stats-result"><span>{{ following_count }}</span></div>
                        </div>
                    </div>
                    <div class="following-user">
                        <div class="stats-label"><label>FOLLOWED BY</label></div>
                        <div class="stats-block"></div>
                        <div id="followers-react" class="stats-result-btn"></div>
                        <script src="{% static 'network/follower_react.js' %}" type="text/babel"></script>
                    </div>
                </div>
                <hr>
{% for post in page %}
                {% include "network/components/post.html" with post=post %}        
{% empty %}
                <p>THIS USER HAS NOT POSTED ANYTHING YET.</p>
{% endfor %}
            </div>

{% if page.has_other_pages %}
            {% include "network/components/pagination.html" with page=page %}
{% endif %}
        </div>
    </div>

{% endblock %}