{% extends "network/layout.html" %}

{% load static %}
{% block script %}
    <script src="{% static 'network/follower.js' %}"></script>
{% endblock %}

{% block body %}
    <h2>{{ profile_name }}</h2>

    Following: {{ following_count }}
    Followers: <span id="num-followers">{{ followers_count }}</span>

    {% if user.is_authenticated and user.username != profile_name %}
        <form id="follow_toggle_form" onsubmit="follow_toggle(); return false" >
            {% csrf_token %}
            <input type="hidden" id="follow_target_id" name="follow_target_id" value={{ profile_id }}>
            <input type="hidden" id="follow_status" name="follow_status" value="?">
            <input type="submit" id="follow_btn" value="loading..." onload="load_follow_btn()">
        </form>
    {% endif %}

    <div id="profile_posts_cont">
        {% for post in posts %}
        <div class="post">
            <div class="pcont-user">
                {{  post.username }}
            </div>
            <div class="pcont-time">
                {{  post.created_on }}
            </div>

        {% if user.is_authenticated and user.username == post.username %}
            <div class="pcont-edit">
                [EDIT]
            </div>
        {% endif %}

            <div class="pcont-content">
                {{ post.content }}
            </div>

            <div class="pcont-likes">
                {{ post.like_count }}
            </div>

        </div>
        {% empty %}
            You haven't / This user hasn't posted anything yet. (JS for this?)
        {% endfor %}
    </div>



{% endblock %}