{% extends "network/layout.html" %}

{% block body %}
    <div class="conference-container">
        <div class="vt-panel-container panels-register">
            <div class="vt-p0 lcars-top-left"><div class="panel-num">00<span class="extra-digits">-534.6</span></div></div>
            <div class="vt-p1 vt-panel"></div>
            <div class="vt-p2 vt-panel"><div class="panel-num">98<span class="extra-digits">-2435</span></div></div>
            <div class="vt-p3 vt-panel"><div class="panel-num">43<span class="extra-digits">-8329</span></div></div>
        </div>

        <div class="conference-content">
            {% include "network/components/lcars_hz_top.html" with hz_identifier_class="panels-register" %}

            <div class="main-container">
                <h2>REGISTER</h2>

                {% if message %}
                    <div class="edit-failed">{{ message|safe }}</div>
                {% endif %}

                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" name="username" placeholder="USERNAME">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="EMAIL ADDRESS">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="PASSWORD / COMMAND CODES">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="confirmation" placeholder="CONFIRM PASSWORD / COMMAND CODES">
                    </div>
                    <input class="lcars-btn post-btn" type="submit" value="REGISTER">
                </form>

                <div class="helpful-suggestion">
                    ALREADY HAVE AN ACCOUNT? <a href="{% url 'login' %}">LOG IN HERE.</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}