<div class="post-container">
                    
    <div class="post-section-date-edit">
        <div class="date">
            {{  post.created_on|date:"Ymd.His" }} <small>({{  post.created_on|date:"d M Y, H:i:s"|upper }})</small><br>
        </div>
            
{% if user.is_authenticated and user.username == post.poster.username %}
        <button class="edit-btn lcars-btn" data-id="{{ post.id }}" id="edit_btn_{{ post.id }}"><span>EDIT</span></button>
{% endif %}
    </div>

    <div class="post-section-content">
        <a class="username" href="{% url 'profile' post.poster.id %}">{{  post.poster.username|upper }}</a>
        <div class="pcont-content" id="post_content_{{ post.id }}">
            {{ post.content|upper }}
        </div>
    </div>

    <div class="post-section-likes"> 
        <p class="like-counter"><span id="num_likes_{{ post.id }}">{{ post.count_likes }}</span> LIKES</p>

{% if user.is_authenticated and user.username != post.poster.username %}
        <button class="like-btn lcars-btn unliked" data-id="{{ post.id }}" data-status="?" data-viewname="likes"></button>
{% endif %} 
    </div>
</div>