// Fonts
$f_lcarsy: 'Antonio', 'Oswald', 'Arial Narrow', 'Avenir Next Condensed', sans-serif;

// Colours
$c_bg_main:black;
$c_hollow_hover: #282828;
$c_input_txt: white;
$c_input_bg: #222;
$c_inactive_txt: #777;
$c_inactive_border: #555;

$c_edit: #cad1ff;
$c_edit_hover: #e7eaff;
$c_username: #aba3ff;
$c_username_hover: #dedbff; 

$c_body_heading: #abcaff;
$c_main_text: #72efff;
$c_emphasis: #f8fbdb;
$c_error: red;

$c_bg_A0: #ff9900;
$c_bg_A0_hover: #ffd597;
$c_bg_A1: #ff9966;
$c_bg_A1_hover: #ffc3a4;
$c_bg_A2: #ffcc99;
$c_bg_A2_hover: #ffe4ca;

$c_bg_B0: #cc99cc;
$c_bg_B0_hover: #e9cfe9;
$c_bg_B1: #9999ff;
$c_bg_B1_hover: #c5c5fc;

$c_bg_C0: #cc6666;

// Corner colour assignments
$lcars_header_top_left: $c_bg_A0;
$lcars_header_bottom_left: $c_bg_B1;

$lcars_login_corner: $c_bg_A2;
$lcars_register_corner: $c_bg_A0;

$lcars_following_corner: $c_bg_B0;
$lcars_profile_corner: $c_bg_A1;
$lcars_conference_top_left: $c_bg_C0;
$lcars_response_top_left: $c_bg_B1;
$lcars_response_bottom_left: $c_bg_A2;

$panel_border: 4px solid $c_bg_main;

$page_width: 98%;
$max_page: 85rem;
$min_page: 20rem;

$side_panel_width: 15%;
$side_panel_width_wide: 15%;
$side_panel_width_tall: 5%;

$breakpoint_post_columns_unsustainable: 700px;
$breakpoint_title_twolines: 484px;
$breakpoint_corners_tighten: 385px;

$h_divider_margin: 10px;
$main_title_height: 3.5rem;



// ----------------------------------------------------------------------------------------------------------------------- 
// Tag-level stuff (and tag-ish)
// -----------------------------------------------------------------------------------------------------------------------

body{
    background: $c_bg_main;
    color: $c_main_text;
    font-family: $f_lcarsy; 
    font-size: 1.25rem;
}

h2, h3{
    color: $c_body_heading;
}

textarea, input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;

    color: $c_input_txt;
    background: $c_input_bg;

    border: 1px solid $c_edit;
    border-radius: 4px;

    &:focus, &:active{
        color: $c_input_txt;
        background: $c_input_bg;  
        box-shadow: 0 0 4px $c_bg_A2;      
    }
}









// ----------------------------------------------------------------------------------------------------------------------------------------------------------
// Buttons
// ----------------------------------------------------------------------------------------------------------------------------------------------------------
.lcars-btn{
    position: relative;
    height: 3rem;

    margin: 5px;
    padding: 0;

    border-radius: 1.5rem;

    a, span{
        position: absolute;
        bottom: 0.25rem;
        right: 1.25rem;
        color: black;
    }
    &:focus, &:active{
        outline: thin dotted $c_emphasis;
    }
}

.edit-btn{
    height: 2rem;
    width: 100%;
    max-width: 7rem;

    margin: 0.5rem 0.1rem;

    background: $c_edit;
    color: black;
    border: none;

    span{
        bottom: 0.1rem;
        right: 1rem;
    }

    &:hover{
        background: $c_edit_hover;
    }
}

.post-btn{
    float: right;
    width: 100%;
    max-width: 10rem;
    padding: 0.5rem 1.5rem 0;

    font-size: 1.2rem;
    font-weight: bold;

    text-align: right;
    vertical-align: bottom;

    color: black;
    background: $c_edit;
    border: 1px solid $c_edit;

    &:hover{
        background: $c_edit_hover;
    }
}

.like-btn{
    height: 2.5rem;
    width: 100%;
    max-width: 7rem;

    margin-top: 0.3rem;

    span{
        position: absolute;
        bottom: 0;
        right: 0.9rem;
        pointer-events: none;
    }
}
.unliked{
    color: $c_bg_A0;
    background: $c_bg_main;
    border: 2px solid $c_bg_A0;
    span{
        color: $c_bg_A0;
    }
    &:hover{
        background: $c_hollow_hover;
    }
}
.liked{
    color: $c_bg_main;
    background: $c_bg_A0;
    border: 2px solid $c_bg_A0;
    &:hover{
        background: $c_bg_A0_hover;
        border: 2px solid $c_bg_A0_hover;
    }
}





// --------------------------------------------------------------------------------------------------------------------------------------------------------
// Heading and navigation
// --------------------------------------------------------------------------------------------------------------------------------------------------------
// .heading-panel{
//     position: relative;
//     height: 3.5rem;
//     width: 100%;

//     background: $c_bg_A0;
//     border-top-right-radius: 1.75rem;
//     border-bottom-right-radius: 1.75rem; 
// }

.main-title-container{
    display: flex;
    width: 100%;
}
.main-title-before{
    flex-grow: 2;
    min-height:$main_title_height;
    background: $c_bg_A0;
}
.main-title{
    padding: 0rem 1rem 0.4rem;
    margin: 0;
    
    font-size: $main_title_height;
    font-family: $f_lcarsy;
    line-height: 100%;

    color: $c_bg_A0;
    background: $c_bg_main;

    &:hover{
        text-decoration: none;
        color: $c_bg_A0;
    }
}

@media (max-width: $breakpoint_title_twolines){
    .main-title{
        width: 12rem;
    } 
}

.main-title-after{
    width: 3rem;
    margin-right: 5px;
    background: $c_bg_A0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.lcars-nav-container{
    display: flex;
    width: 100%;

    justify-content: flex-end;
    align-items: center;

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        margin: 0;
    }

    li {
        list-style: none;
    }
}

.lcars-nav-btn{
    position: relative;
    display: inline-block;
    height: 3rem;
    width: 10rem;

    margin: 5px;
    padding: 0;

    color: black;
    border-radius: 1.5rem;

    span{
        position: absolute;
        bottom: 0.25rem;
        right: 1.25rem;
    }

    &:hover{
        color: black;
    }
    &:active, &:focus{
        outline: thin dotted $c_emphasis;
    }
}

.nav-user, .nav-following, .nav-register{
    background: $c_bg_B1;
    &:hover{
        background: $c_bg_B1_hover;
    }

}
.nav-allposts{
    background: $c_bg_A0; 
    &:hover{
        background: $c_bg_A0_hover;
    } 
}
.nav-logout{
    background: $c_bg_A1;  
    &:hover{
        background: $c_bg_A1_hover;
    }
}
.nav-login{
    background: $c_bg_A2;  
    &:hover{
        background: $c_bg_A2_hover;
    }
}








// ----------------------------------------------------------------------------------------------------------------------- 
// Page layout
// -----------------------------------------------------------------------------------------------------------------------

.vt-panel-container{
    width: $side_panel_width;
    display: flex;
    flex-direction: column; 
}

.hz-panel-container{
    height: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    text-align: right; 
}


.header-container{
    display: flex;
    justify-content: flex-end;
    align-items: right;
    text-align: right; 

    width: 100%;
    max-width: $max_page;
    margin: 1.5rem auto 0;
}
.header-content{
    width: 85%;
}

.content{
    font-family: $f_lcarsy;

    width: 100%;
    max-width: $max_page;
    min-width: $min_page;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.main-container{
    // Simple one for login and register
    width: 50%;
    min-width: 17rem;
    padding: 2rem;
}
.helpful-suggestion{
    clear: both;
}

.conference-container{
    order: 1;
    display:flex;
    flex-grow: 2;
    margin-top: $h_divider_margin;

    .vt-panel-container{
        min-height: 50rem;    
    }
}
.conference-content{  
    flex-grow: 2;
    max-width: 85%;
}

.respond-container{
    order: 2;
    display: flex;
    width: 30%;
    min-width: 30%;

    margin-top: $h_divider_margin;

    align-self: flex-start;

    .vt-panel-container{
        width: 10%;
    }
}
.respond-content{  
    flex-grow: 2;
    max-width: 95%;
}

.two-column-body{
    display: flex;
    width: 100%;

    .post-section-content{
        max-width: 27rem;
    }

    .conference-container .vt-panel-container{
        width: 21.5%;
    }

    // Ensure there's only one row of horizontal panels
    .panels-respond{
        &.hz-top{
            .hz-p0, .hz-p1, .hz-p2, .hz-p3{
                display: none;
            }
        }
        &.hz-btm{
            .hz-p0, .hz-p1, .hz-p2, .hz-p3{
                display: none;
            }
        }
    }

    .panels-conference{
        .hz-p4, .hz-p5{
            display: none;
        }
    }
}


@media (max-width: $max_page){
    .respond-container{
        order: 1;
        width: 100%;
        textarea{
            height: 7rem;
        }
    }
    .conference-container{
        order: 2;
        width: 100%;
    }
    .respond-content{
        max-width: 85%;
    }

    .two-column-body{
        flex-wrap: wrap;

        .post-section-content{
            max-width: 100%;
        }

        .conference-container .vt-panel-container,
        .respond-container .vt-panel-container{
            width: $side_panel_width;
        }

        .panels-respond{
            &.hz-top{
                .hz-p0, .hz-p1, .hz-p2, .hz-p3{
                    display: inline;
                }
                .hz-p4{
                    background: $c_bg_C0;
                }
            }
            &.hz-btm{
                .hz-p0, .hz-p1, .hz-p2, .hz-p3{
                    display: inline;
                }
                .hz-p4{
                    background: $c_bg_A1;
                }
            }
        }
        .panels-conference{
            .hz-p4, .hz-p5{
                display: inline;
            }
        }
    }
}



.post-container{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}
.post-section-date-edit{
    width: 8rem;
    padding-top: 0.6rem;
    font-size: 1.1rem;
    color: $c_edit;

    small{
        // Prevents unwanted line breaks between the month and year, or the day and month
        white-space: nowrap;
    }
}

.post-section-content{
    flex-grow: 1;
    padding: 0.5rem;
    a{
        font-size: 1.7rem;
        font-weight: bold;
        color: $c_username;
    
        &:hover{
            color: $c_username_hover;
            text-decoration: none;
        }
        &:active, &:focus{
            outline: thin dotted;
        }
    }
}
.post-section-likes{
    min-width: 7.5rem;
    color: $c_emphasis;
    text-align: right;
}


.profile-posts{
    margin-top: 4rem;
}

.all-posts{
    padding: 0 2rem;
}

.edit-failed{
    width: 18rem;
    margin: 0 auto 1rem;
    padding: 5px 10px 10px;

    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;

    color: red;
    background: none;
    border: 1px solid red;
    border-radius: 4px;

    span{
        font-size: 3rem;
    }
}

.error-message{
    font-size: 1.4rem;
    font-weight: bold;
    color: white;

    h2{
        font-weight: bold;
        font-size: 3rem;
        color: red;       
    }

    span{
        font-size: 2rem;
        color: red; 
    }
}

#add-post{
    display: flex;
    flex-wrap: wrap;

    padding: 0 2rem;

    form{
        width: 100%;
    }
}



// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Pagination --------------------------------
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
#pagination-nav{
    margin: 2rem 0 2rem;
}

.page-item{
    width: 18%;
    max-width: 8rem;

    &:focus, &:active{
        outline: thin dotted;
        box-shadow: none;
    }
}

.page-item.active .page-link {
    z-index: -2;
    padding: 0;
    line-height: 2rem;

    text-align: center;

    color: $c_bg_B1;
    background: $c_bg_main;
    border: none;
}
.page-item.disabled .page-link {
    padding: 0.9rem 0.7rem 0 0.1rem;

    text-align: right;

    color: $c_inactive_txt;
    background: $c_bg_main;
    border: 1px solid $c_inactive_border;
}

a.page-link {
    padding: 0.9rem 0.7rem 0 0.1rem;
    text-align: right;

    font-weight: bold;
    color: black;  
    border: none;
    
    &:hover{
        color: black;
    }
    &:focus, &:active{
        outline: thin dotted $c_emphasis;
        box-shadow: none;
    }
}

a.page-next{
    background: $c_bg_A2;
    &:hover{
        background: $c_bg_A2_hover;   
    }
}
a.page-oldest{
    border-left: $panel_border;
    background: $c_bg_A0;
    &:hover{
        border-left: $panel_border;
        background: $c_bg_A0_hover;   
    }
}
a.page-previous{
    background: $c_bg_B0;
    &:hover{
        background: $c_bg_B0_hover;   
    }
}
a.page-newest{
    border-right: $panel_border;
    background: $c_bg_B1;
    &:hover{
        border-right: $panel_border;
        background: $c_bg_B1_hover;   
    }
}

.page-item:first-child .page-link{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.page-item:last-child .page-link {
    // Padding is there to compensate for the clash between the right text-alignment and border radii
    padding-right: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

@media (max-width: $breakpoint_post_columns_unsustainable){
    .all-posts{
        padding: 0 1rem;
    }
    .post-container{
        flex-wrap: wrap;
    }
    .post-section-date-edit,
    .post-section-content,
    .post-section-likes{
        width: 100%;
    }
    #pagination-nav{
        font-size: 1.1rem;
    }
    .post-btn{
        padding: 0.5rem 1rem 0;
    }
 }








// ------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Follower stuff on profile
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------

 .follow-stats-container{
    margin-top: 2rem;

    .user-follows, .following-user{
        display: flex;
        height: 3rem;
        margin-top: 0.5rem;
    }

    .stats-label{
        display: flex;
        justify-content: flex-end;

        width: 12rem;
        height: 100%;
        margin: 0;
        padding: 0;

        font-size: 1.5rem;
        color: black;
        text-align: right;
    }
    label{
        align-self: flex-end;
        padding: 0 0.2rem 0 0;
        margin: 0;
    }

    .stats-block{
        height: 100%;
        width: 1.5rem;
        border-left: $panel_border;
        border-right: $panel_border;
    }

    .stats-result-btn{
        display: flex;
        width: 30rem;
    }

    .stats-result{
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 6rem;

        margin-top: 0.1rem;
        padding-right: 1rem;

        font-size: 3.3rem;
        line-height: 3.8rem;
    }
    span{
        align-self: flex-end;
        pointer-events: none;
    }

    .follow-btn{
        position: relative;
        height: 100%;
        width: 10rem;

        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;

        span{
            position: absolute;
            bottom: 0.1rem;
            right: 1.5rem;
        }

        &:active, &:focus{
            outline: thin dotted $c_emphasis;
        }
    }

    // set colours
    .user-follows .stats-label{
        background: $c_bg_A0;
    }
    .user-follows span{
        color: $c_bg_A0;
    }
    .user-follows .stats-block{
        background: $c_bg_main;
    }

    .following-user .stats-label{
        background: $c_bg_B1;
    }
    .following-user span{
        color: $c_bg_B1;
    }
    .following-user .stats-block{
        background: $c_edit;
    }

    .following{
        background: $c_edit;
        border: none;
        span{
            color: black;
        }

        &:hover{
            background: $c_edit_hover;
        }
    }
    .notfollowing{
        background: $c_bg_main;
        border: 1px solid $c_edit;

        span{
            color: $c_edit;
        }

        &:hover{
            background: $c_hollow_hover;
        }
    }

 }












// ----------------------------------------------------------------------------------------------------------------------- 
// LCARS panels
// -----------------------------------------------------------------------------------------------------------------------

// Corner boxes
.corner{
    background: $c_bg_main;
    width: 100%;
    height: 100%;    
}

.corner-box{
    width: 2rem;
    height: 2rem;
}

.top-left-corner{
    border-top-left-radius: 2rem;
}
.bottom-left-corner{
    border-bottom-left-radius: 2rem;
}


@media (max-width: $breakpoint_corners_tighten){
    .corner-box{
        width: 1rem;
        height: 1rem;
    }
    .top-left-corner{
        border-top-left-radius: 1rem;
    }
    .bottom-left-corner{
        border-bottom-left-radius: 1rem;
    }
}

// ---- General containers and sizings -----------------------------------------------------------------------------------------------------------------------
// --- vertical panels
.panel-num{
    position: absolute;
    bottom:0;
    right: 0.2rem;
    color: black;
}
.panels-respond{
    .extra-digits{
        display: none;
    }
    .vt-p2 .panel-num{
        top: 0;
    }
}

@media(max-width: $max_page){
    .panels-respond .extra-digits{
        display: inline;
    }
}

@media(max-width: 500px){
    .extra-digits, .panels-respond .extra-digits{
        display: none;
    }
}



.lcars-top-left{
    border-top-left-radius: 5.5rem;
    flex-grow: 3;
    position: relative;
}

.vt-panel{
    width: 100%;
    border-top: $panel_border;
    position: relative;
}
.hz-panel{
    height: 1rem;
    min-width: 1rem;
    border-right: $panel_border;    
}

.hz-p0{
    flex-grow: 2.8;    
}
.hz-p1{
    width: 2rem;    
}
.hz-p2{
    width: 10rem;
}
.hz-p3{
    width: 2rem;
}
.hz-p4{
    flex-grow: 2; 
}
.hz-p5{
    width: 2rem;
}

// Panels: colours and (sometimes) sizes for specific panels -----------------------------------------------------------------------------------------------------
.panels-header{
    .top-left-corner{
        border-top-left-radius: 1rem;
    }
    &.corner-box.hz-top{
        width: 1rem;
        height: 1rem;
    }

    &.corner-box.hz-top, .vt-p0{
        background: $lcars_header_top_left;
    }

    .vt-p2, .hz-p0, &.corner-box{
        background: $lcars_header_bottom_left;
    }

    .vt-p0{
        width: 100%;
        border-top-left-radius: 5.5rem;
        flex-grow: 2;
    }
    .vt-p1{
        height: 1rem;
        background: $c_bg_B0;
    }
    .vt-p2{
        border-bottom-left-radius: 3rem;
        flex-grow: 1;
    }

    .hz-p1{
        background: $c_bg_A0;
    }
    .hz-p2{
        background: $c_bg_B0;
    }
    .hz-p3{
        background: $c_bg_A2;
    }
    .hz-p4{
        background: $c_bg_B0; 
    }
    .hz-p5{
        background: $c_bg_A2;
    }
}


.panels-conference{
    .vt-p0, .hz-p0, &.corner-box{
        background: $lcars_conference_top_left;
    }

    .hz-p1, .hz-p2{
        background: $c_bg_A2;
    }
    .hz-p3{
        background: $c_bg_A1;
    }
    .hz-p4{
        background: $c_bg_B1;
    }
    .hz-p5{
        background: $c_bg_B0;
    }

    .vt-p1{
        background: $lcars_conference_top_left;
        flex-grow: 2;
    }


    .vt-p2{
        background: $c_bg_A1;
        flex-grow: 3;
    }
    .vt-p3{
        background: $c_bg_B1;
        height: 1rem;
    }
    .vt-p4{
        background: $c_bg_A0;
        flex-grow: 2;
    }
    .vt-p5{
        background: $c_bg_C0;
        height: 1rem;
    }
    .vt-p6{
        background: $c_bg_B1;
        flex-grow: 3;
    }
    .vt-p7{
        background: $c_bg_B0;
        flex-grow: 2;
    }
    .vt-p8{
        background: $c_bg_B0;
        height: 1rem;
    }
    .vt-p9{
        background: $c_bg_A1;
        flex-grow: 3;
    }

}

.panels-respond{
    .vt-p0{
        background: $lcars_response_top_left;
    }
    .vt-p1{
        background: $c_bg_A1;
        flex-grow: 2;
    }
    .vt-p2{
        background: $lcars_response_bottom_left;
        flex-grow: 3;
        border-bottom-left-radius: 3rem;
    }


    &.hz-top{
        .hz-p0, .hz-p4, &.corner-box {
            // @ Half page, p4 is the "linker". This will be changed by a media query @ full page
            background: $lcars_response_top_left;
        }
        .hz-p1{
            background: $c_bg_C0;
        }
        .hz-p2{
            background: $c_bg_A0;
        }
        .hz-p3{
            background: $c_bg_B0;
        }
        .hz-p5{
            background: $c_bg_A2;
        }
    }
    
    &.hz-btm{
        .hz-p0, .hz-p4, &.corner-box {
            // @ Half page, p4 is the "linker". This will be changed by a media query @ full page
            background: $lcars_response_bottom_left;
        }
        .hz-p1{
            background: $c_bg_A0;
        }
        .hz-p2{
            background: $c_bg_C0;
        }
        .hz-p3{
            background: $c_bg_A2;
        }
        .hz-p5{
            background: $c_bg_B0;
        }
    }
}

.panels-profile{
    .vt-p0, .hz-p0, &.corner-box{
        background: $lcars_profile_corner;
    }

    .hz-p1{
        background: $c_bg_A2;
    }
    .hz-p2{
        background: $c_bg_A0;
    }
    .hz-p3{
        background: $c_bg_A1;
    }
    .hz-p4{
        background: $c_bg_C0;
    }
    .hz-p5{
        background: $c_bg_B0;
    }

    .vt-p1{
        background: $c_bg_A0;
        flex-grow: 2;
    }
    .vt-p2{
        background: $c_bg_B1;
        flex-grow: 3;
    }
    .vt-p3{
        background: $c_bg_B1;
        height: 1rem;
    }
    .vt-p4{
        background: $c_bg_B0;
        flex-grow: 2;
    }
    .vt-p5{
        background: $c_bg_C0;
        height: 1rem;
    }
    .vt-p6{
        background: $c_bg_B1;
        flex-grow: 3;
    }
    .vt-p7{
        background: $c_bg_B0;
        flex-grow: 2;
    }
    .vt-p8{
        background: $c_bg_B0;
        height: 1rem;
    }
    .vt-p9{
        background: $c_bg_A1;
        flex-grow: 3;
    }
}

.panels-following{
    .vt-p0, .hz-p0, &.corner-box{
        background: $lcars_following_corner;
    }

    .hz-p1{
        background: $c_bg_A0;
    }
    .hz-p2{
        background: $c_bg_A2;
    }
    .hz-p3{
        background: $c_bg_C0;
    }
    .hz-p4{
        background: $c_bg_A1;
    }
    .hz-p5{
        background: $c_bg_B1;
    }

    .vt-p1{
        background: $c_bg_A2;
        flex-grow: 2;
    }
    .vt-p2{
        background: $c_bg_A1;
        flex-grow: 3;
    }
    .vt-p3{
        background: $c_bg_B1;
        height: 1rem;
    }
    .vt-p4{
        background: $c_bg_A0;
        flex-grow: 2;
    }
    .vt-p5{
        background: $c_bg_C0;
        height: 1rem;
    }
    .vt-p6{
        background: $c_bg_B1;
        flex-grow: 3;
    }
    .vt-p7{
        background: $c_bg_B0;
        flex-grow: 2;
    }
    .vt-p8{
        background: $c_bg_B0;
        height: 1rem;
    }
    .vt-p9{
        background: $c_bg_A1;
        flex-grow: 3;
    }
}

.panels-login{
    .vt-p0, .hz-p0, &.corner-box{
        background: $lcars_login_corner;
    }
    .vt-p0{
        flex-grow: 2;
    }

    .vt-p1{
        background: $c_bg_A0;
        height: 1rem;
    }
    .vt-p2{
        background: $c_bg_A2;
        flex-grow: 1;
    }
    .vt-p3{
        background: $c_bg_B1;
        flex-grow: 3;
    }
    
    .hz-p1{
        background: $c_bg_B1;
    }
    .hz-p2{
        background: $c_bg_A1;
    }
    .hz-p3{
        background: $c_bg_B1;
    }
    .hz-p4{
        background: $c_bg_A0;
    }
    .hz-p5{
        background: $c_bg_A0;
    }
}

.panels-register{
    .vt-p0, .hz-p0, &.corner-box{
        background: $lcars_register_corner;
    }
    .vt-p0{
        flex-grow: 2;
    }

    .vt-p1{
        background: $c_bg_B1;
        height: 1rem;
    }
    .vt-p2{
        background: $c_bg_A2;
        flex-grow: 1;
    }
    .vt-p3{
        background: $c_bg_B0;
        flex-grow: 3;
    }
    
    .hz-p1{
        background: $c_bg_A0;
    }
    .hz-p2{
        background: $c_bg_B0;
    }
    .hz-p3{
        background: $c_bg_B1;
    }
    .hz-p4{
        background: $c_bg_A2;
    }
    .hz-p5{
        background: $c_bg_A1;
    }
}

.panels-error{
    .vt-p0, .hz-p0, &.corner-box{
        background: $c_error;
    }
    .vt-p0{
        flex-grow: 2;
    }

    .vt-p1{
        background: white;
        height: 1rem;
    }
    .vt-p2{
        background: white;
        flex-grow: 1;
    }
    .vt-p3{
        background: $c_error;
        flex-grow: 3;
    }
    
    .hz-p1, .hz-p3, .hz-p4{
        background: $c_error;
    }
    .hz-p2, .hz-p5{
        background: white;
    }
    
    hr{
        margin: 2rem 0 3rem;
        border-color: $c_bg_A0;
    }
}




@media (max-width: 865px){
    .header-content{
        width: 92%;
    }
    .vt-panel-container{
        width: 8%;
    }
    h1{
        display: block;
        font-size: 1em;
        margin: 0;
        font-weight: normal;
    }
    .main-title{
        font-size: 1.4rem;
        width: 12rem;
        line-height: 1.5rem;
        padding: 0rem 0.5rem 0rem;
    }
    .main-title-before{
        min-height: 1rem;
        height: 1.8rem;
    }
    .main-title-after{
        height: 1.8rem;
        width: 1.5rem;
    }

    .hz-panel, .hz-panel-container{
        height: 0.7rem;
    }
    .corner-box, .panels-header.corner-box.hz-top{
        height: 0.7rem;
        width: 0.7rem;
    }

    .lcars-nav-container{
        padding-left: 0;
        margin-left: 0;

        ul{
            padding: 0;
        }
        .lcars-nav-btn{
            width: 3.7rem;
            height: 1.9rem;
            border-radius: 0.8rem;
            margin-top: 0;
            margin-bottom: 0;

            span{
                font-size: 0.75rem;
                bottom: 3px;
                right: 4px;
            }
        }

    }
}