// Fonts
$f_branding: 'Antonio', 'Oswald', 'Arial Narrow', 'Avenir Next Condensed', sans-serif;
$f_secondary: $f_branding;

// ---------------------------------------
$c_like: rgb(0, 216, 0);
$c_links: rgb(255, 238, 0);
$c_links_hv: rgb(255, 249, 167);

$c_branding: rgb(93, 209, 255);

$c_post: rgb(0, 149, 218); /*rgb(0, 174, 255);*/
$c_post_dark: rgb(0, 66, 97);
$c_post_glow: rgba(220, 244, 255, 0.623);
$c_post_glow_border: rgba(220, 244, 255, 0.823);

$c_follow: rgb(174, 0, 255);
$c_follow_dark: rgb(88, 0, 129);
$c_follow_glow: rgb(208, 108, 255);
$c_follow_glow_border: rgb(228, 170, 255);

$c_warning: rgb(182, 0, 0);
$c_warning_glow: rgb(255, 207, 207);

$c_bg_main:black;

$c_txt_main: white;
$c_text_subtle: #ddd;

$c_bg_input: #222;

$c_bg_hollow: #282828;
$c_bghv_hollow: #2d2d2d;

$c_border_primary: #777;
$c_border_secondary: #555;






// ----------------------------------------------------------------------------------------------------------------------- 
// Variables for LCARS layout
// -----------------------------------------------------------------------------------------------------------------------

$lcars_0: #ff9900;
$lcars_0_hover: #ffd597;

$lcars_1: #ff9966;
$lcars_1_hover: #ffc3a4;

$lcars_2: #ffcc99;
$lcars_2_hover: #ffe4ca;

$lcars_3: #cc99cc;
$lcars_3_hover: #e9cfe9;

$lcars_4: #9999ff;
$lcars_4_hover: #c5c5fc;

$lcars_purple: $lcars_3;
$lcars_blue: $lcars_4;

$lcars_rust: #cc6666;
$lcars_likes: #f8fbdb;

$lcars_header_top_left: $lcars_0;
$lcars_header_bottom_left: $lcars_blue;

$lcars_conference_top_left: $lcars_rust;
$lcars_response_top_left: $lcars_blue;
$lcars_response_bottom_left: $lcars_2;

$lcars_body_h_top: #abcaff; // body headings
$lcars_edit_date: #cad1ff; // edit button, date
$lcars_edit_date_hover: #e7eaff; 
$lcars_username: #aba3ff; // usernames
$lcars_text: #72efff; // text


$page_width: 98%;
$max_page: 85rem;
$min_page: 20rem;

$h_divider_margin: 10px;

$main_title_height: 3.5rem;
$side_panel_width: 15%;


$breakpoint_title_twolines: 484px;
$panel_border: 4px solid black;










// ----------------------------------------------------------------------------------------------------------------------- 
// Tag-level stuff
// -----------------------------------------------------------------------------------------------------------------------

body{
    background: $c_bg_main;
    color: $lcars_text;
    font-family: $f_secondary; 
    font-size: 1.25rem;
}
.body{
    font-family: $f_secondary;

    width: 100%;
    max-width: $max_page;
    min-width: $min_page;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    //justify-content: flex-end;
    //align-items: right;
    //text-align: right; 
}

h2, h3{
    color: $lcars_body_h_top;
}

textarea, input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;

    color: $c_txt_main;
    background: $c_bg_input;

    border: 1px solid $lcars_edit_date;
    border-radius: 4px;

    &:focus, &:active{
        color: $c_txt_main;
        background: $c_bg_input;  
        box-shadow: 0 0 4px $lcars_2;      
    }
}




















// ----------------------------------------------------------------------------------------------------------------------- 
// LCARS panels
// -----------------------------------------------------------------------------------------------------------------------

// Corner boxes
.corner{
    // Shared class: all the corners need this on the internal div
    background: black;
    width: 100%;
    height: 100%;    
}

.header-top-corner-box{
    width: 1rem;
    height: 1rem;
    // Note: Corners use three separate divs. Assign a variable to store the colour for each corner so it can be reused.
    background: $lcars_header_top_left;
}
.header-top-corner{
    border-top-left-radius: 1rem;
}

.header-bottom-corner-box{
    width: 2rem;
    height: 2rem;
    background: $lcars_header_bottom_left;
}
.header-bottom-corner{
    border-bottom-left-radius: 2rem;
}

.respond-bottom-corner-box{
    width: 2rem;
    height: 2rem;
    background: $lcars_response_bottom_left;
}

.body-left-corner-box{
    width: 2rem;
    height: 2rem;   
    background: $lcars_conference_top_left;
}
.top-left-corner{
    border-top-left-radius: 2rem;
}
.respond-left-corner-box{
    width: 2rem;
    height: 2rem;   
    background: $lcars_response_top_left;
}

// ---- General containers and sizings -----------------------------------------------------------------------------------------------------------------------
// --- vertical panels
.lcars-top-left{
    border-top-left-radius: 5.5rem;
    flex-grow: 3;
}
.vt-panel{
    width: 100%;
    border-top: $panel_border;
}

// -- horizontal panels
.hz-panel-container{
    height: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    text-align: right; 
}

.hz-panel{
    height: 1rem;
    min-width: 1rem;
    border-right: $panel_border;    
}
.hz-p0{
    flex-grow: 2.8;    
}
.hz-p1{
    width: 2rem;    
}
.hz-p2{
    //width: 5rem;    // this was before thinning out the response panel
    width: 10rem;
}
.hz-p3{
    width: 2rem;
}
.hz-p4{
    flex-grow: 2; 
}
.hz-p5{
    width: 2rem;
}

// Panels: colours and (sometimes) sizes for specific panels -----------------------------------------------------------------------------------------------------
// Header, vertical strip down the side
.header-0{
    width: 100%;
    background: $lcars_header_top_left;
    border-top-left-radius: 5.5rem;
    flex-grow: 2;
}
.header-1{
    height: 1rem;
    background: $lcars_3;
}
.header-2{
    background: $lcars_header_bottom_left;
    border-bottom-left-radius: 3rem;
    flex-grow: 1;
}

// "End header" horizontal strip: widths should match "top body"
.eh-panel{
    height: 1rem;
    min-width: 1rem;
    border-right: $panel_border;
}
.eh-panel-0{
    background: $lcars_4; 
}
.eh-panel-1{
    background: $lcars_0;
}
.eh-panel-2{
    background: $lcars_3;
}
.eh-panel-3{
    background: $lcars_2;
}
.eh-panel-4{
    background: $lcars_3; 
}
.eh-panel-5{
    background: $lcars_2;
}

// "Top body" horizontal strip: widths should match "end header"
.p-conf-0{
    background: $lcars_conference_top_left;
}

.p-conf-1, .p-conf-2{
    background: $lcars_2;
}
.p-conf-3{
    background: $lcars_1;
}
.p-conf-4{
    background: $lcars_blue;
}
.p-conf-5{
    background: $lcars_purple;
}

.p-resp-th-0 {
    // @ Half page, this is hidden
    background: $lcars_response_top_left;
}
.p-resp-th-1{
    background: $lcars_rust;
}
.p-resp-th-2{
    background: $lcars_0;
}
.p-resp-th-3{
    background: $lcars_3;
}
.p-resp-th-4{
    // @ Half page, this is the "linker". Change the colour at full page
    background: $lcars_response_top_left;
}
.p-resp-th-5{
    background: $lcars_2;
}

.p-resp-bh-0 {
    // @ Half page, this is hidden
    background: $lcars_response_bottom_left;
}
.p-resp-bh-1{
    background: $lcars_0;
}
.p-resp-bh-2{
    background: $lcars_rust;
}
.p-resp-bh-3{
    background: $lcars_2;
}
.p-resp-bh-4{
    // @ Half page, this is the "linker". Change the colour at full page
    background: $lcars_response_bottom_left;
}
.p-resp-bh-5{
    background: $lcars_purple;
}



// Side of "conference" panels
.side-0{
    background: $lcars_conference_top_left;
}
.side-1{
    background: $lcars_conference_top_left;
    flex-grow: 2;
}
.side-2{
    background: $lcars_1;
    flex-grow: 3;
}
.side-3{
    background: $lcars_4;
    height: 1rem;
}
.side-4{
    background: $lcars_0;
    flex-grow: 2;
}
.side-5{
    background: $lcars_rust;
    height: 1rem;
}
.side-6{
    background: $lcars_4;
    flex-grow: 3;
}
.side-7{
    background: $lcars_3;
    flex-grow: 2;
}
.side-8{
    background: $lcars_3;
    height: 1rem;
}
.side-9{
    background: $lcars_1;
    flex-grow: 3;
}

// Side of "respond" panels
.p-resp-lv-0{
    background: $lcars_response_top_left;
}
.p-resp-lv-1{
    background: $lcars_1;
    flex-grow: 2;
}
.p-resp-lv-2{
    background: $lcars_response_bottom_left;
    flex-grow: 3;
    border-bottom-left-radius: 3rem;
}





// ----------------------------------------------------------------------------------------------------------------------------------------------------------
// Buttons
// ----------------------------------------------------------------------------------------------------------------------------------------------------------
.lcars-btn{
    position: relative;
    height: 3rem;
    border-radius: 1.5rem;
    margin: 5px;
    padding: 0;

    a, span{
        position: absolute;
        bottom: 0.25rem;
        right: 1.25rem;
        color: black;
    }
}

.edit-btn{
    background: $lcars_edit_date;
    color: black;
    height: 2rem;
    width: 100%;
    max-width: 7rem;
    margin: 0.5rem 0.1rem;
    border: none;

    span{
        bottom: 0.1rem;
        right: 1rem;
    }

    &:hover{
        background: $lcars_edit_date_hover;
    }
}

.post-btn{
    float: right;
    max-width: 10rem;
    width: 100%;
    padding: 0.5rem 1.5rem 0;

    font-size: 1.2rem;
    font-weight: bold;

    text-align: right;
    vertical-align: bottom;

    color: black;

    background: $lcars_edit_date;
    border: 1px solid $lcars_edit_date;

    &:hover{
        background: $lcars_edit_date_hover;
    }
}

/*
.post-solid-btn{
    background: $lcars_edit_date;
    color: black;
    height: 2rem;
    width: 100%;
    max-width: 7rem;
    margin: 0.5rem 0.1rem;
    border: none;

    span{
        bottom: 0.1rem;
        right: 1rem;
    }
}*/
.like-btn{
    width: 100%;
    margin-top: 0.3rem;
    height: 2.5rem;

    span{
        position: absolute;
        bottom: 0;
        right: 0.9rem;
        pointer-events: none;
    }

    &:active, &:focus{
        outline: none;
    }
}
.unliked{
    border: 2px solid $lcars_0;
    color: $lcars_0;
    background: black;
    span{
        color: $lcars_0;
    }
    &:hover{
        background: $c_bg_hollow;
    }
}
.liked{
    border: 1px solid $lcars_0;
    color: black;
    background: $lcars_0;
    &:hover{
        background: $lcars_0_hover;
    }
}










// --------------------------------------------------------------------------------------------------------------------------------------------------------
// Heading and navigation
// --------------------------------------------------------------------------------------------------------------------------------------------------------
.heading-panel{
    width: 100%;
    height: 3.5rem;
    position: relative;
    background: $lcars_0;
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem; 
}

.main-title-container{
    display: flex;
    width: 100%;
}
.main-title-before{
    background: $lcars_0;
    min-height:$main_title_height;
    flex-grow: 2;
}
.main-title{
    padding: 0rem 1rem 0.4rem;
    margin: 0;
    line-height: 100%;
    background: black;
    font-size: $main_title_height;
    font-family: $f_branding;
    color: $lcars_0; 
}
@media (max-width: $breakpoint_title_twolines){
    .main-title{
        width: 12rem;
    } 
}
.main-title-after{
    width: 3rem;
    margin-right: 5px;
    background: $lcars_0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.lcars-nav-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0;
    }

    li {
        list-style: none;
    }
}

.lcars-nav-btn{
    position: relative;
    display: inline-block;
    height: 3rem;
    width: 10rem;

    border-radius: 1.5rem;
    margin: 5px;
    padding: 0;

    color: black;

    span {
        position: absolute;
        bottom: 0.25rem;
        right: 1.25rem;
    }

    &:hover{
        color: black;
    }
}
.nav-user, .nav-following, .nav-register{
    background: $lcars_4;
    &:hover{
        background: $lcars_4_hover;
    }
}
.nav-allposts{
    background: $lcars_0; 
    &:hover{
        background: $lcars_0_hover;
    } 
}
.nav-logout{
    background: $lcars_1;  
    &:hover{
        background: $lcars_1_hover;
    }
}
.nav-login{
    background: $lcars_1;  
    &:hover{
        background: $lcars_1_hover;
    }
}



// ----------------------------------------------------------------------------------------------------------------------- 
// Page layout
// -----------------------------------------------------------------------------------------------------------------------

.header-container{
    width: 100%;
    max-width: $max_page;
    margin: 1.5rem auto 0;

    display: flex;
    justify-content: flex-end;
    align-items: right;
    text-align: right; 
}
.header-content{
    width: 85%;
}

.header-v-panels, .conference-v-panels{
    width: $side_panel_width;
    display: flex;
    flex-direction: column; 
}
.conference-v-panels{
    min-height: 50rem;
}
.respond-v-panels{
    width: 10%;
    display: flex;
    flex-direction: column; 
}

.two-column-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .conference-v-panels{
        width: 21.5%;
    }
    .p-conf-4, .p-conf-5{
        display: none;
    }
}

.conference-container{
    order: 1;

    margin-top: $h_divider_margin;

    display:flex;
    flex-grow: 2;
}
.conference-content{  
    flex-grow: 2;
}

.respond-container{
    order: 2;
    width: 30%;
    align-self: flex-start; 

    margin-top: $h_divider_margin;

    display: flex;
}
.respond-content{
    flex-grow:2;
}
.p-resp-th-0, .p-resp-th-1, .p-resp-th-2, .p-resp-th-3,
.p-resp-bh-0, .p-resp-bh-1, .p-resp-bh-2, .p-resp-bh-3{
    display: none;
}




@media (max-width: $max_page){
    .conference-container{
        width: 100%;
        order: 2;
    }
    .respond-container{
        width: 100%;
        order: 1;
        textarea{
            height: 7rem;
        }
    }

    .two-column-body{
        .p-conf-4, .p-conf-5{
            display: inline;
        }
    }

    .two-column-body .conference-v-panels, .respond-v-panels{
        width: $side_panel_width;
    }

    .p-resp-th-0, .p-resp-th-1, .p-resp-th-2, .p-resp-th-3,
    .p-resp-bh-0, .p-resp-bh-1, .p-resp-bh-2, .p-resp-bh-3{
        display: inline;
    }
    .p-resp-th-4{
        background: $lcars_rust;
    }
    .p-resp-bh-4{
        background: $lcars_1;
    }
}



.post-container{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}
.post-section-date-edit{
    min-width: 8.5rem;
    font-size: 1.1rem;
    padding-top: 0.6rem;
    color: $lcars_edit_date;
}
.post-section-content{
    flex-grow: 1;
    padding: 0.5rem;
    a{
        font-size: 1.7rem;
        font-weight: bold;
        color: $lcars_username;
    
        &:hover{
            color:white;
        }
    }
}
.post-section-likes{
    min-width: 7.5rem;
    color: $lcars_likes;
    text-align: right;
}




.all-posts{
    padding: 0 2rem;
}
.edit-failed{
    width: 18rem;
    margin: 0 auto 1rem;
    padding: 5px 10px 10px;

    font-weight: bold;
    text-align: center;

    font-size: 1.4rem;

    color: red;
    background: none;
    border: 1px solid red;
    border-radius: 4px;

    span{
        font-size: 3rem;
    }
}


.edit_failed{
    margin-bottom: 1rem;
    padding: 5px 10px;

    font-weight: bold;

    color: $c_txt_main;
    background: $c_warning;
    border: 1px solid $c_txt_main;
    border-radius: 4px;
    box-shadow: 0 0 4px $c_warning_glow;
}

























.post-hollow-btn{
    width: 100%;
    min-width: 3rem;
    margin-top: 0.8rem;
    padding: 0.1rem;

    font-size: 0.9rem;

    color: $c_txt_main;
    background: $c_bg_hollow;

    border: 1px solid $c_post;
    border-radius: 3px;

    &:hover{
        background: $c_bghv_hollow;
        box-shadow: 0 0 4px 0 $c_post_glow;
    }
}



/*.pcont-likes{
    width: 100%;
    text-align: center;
    background: $c_bg_hollow;
    border: 1px solid $c_bg_input;
    border-radius: 4px;
}*/

.like_btn_container{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: $c_bg_hollow;
    border: 1px solid $c_bg_hollow;
    &:hover{
        background: $c_bghv_hollow;
        border: 1px solid $c_like;
        box-shadow: 0 0 4px $c_post_glow;
    }
}

.pcont-likecount{
    /* this is the "heading" of the likes pane */
    //width: 100%;
    color: $lcars_likes;
    margin-bottom: 0;

    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;

    //color: black;
    //background: $c_like;

    //border-top-left-radius: 4px;
    //border-top-right-radius: 4px;
}

.num-inc-likes{
    /* this is the big ol' number of likes, replacing the thumb icon for self and anons */
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}




.OLD_like_btn{
    /* thumb icon button */
    width: 100%;
    height: 2rem;  
    margin-top: 0.3rem;

    /* Note: the background image for the like icon will be loaded by a "liked" or "unliked" class applied to the same button */
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

    border: none;

    &:active, &:focus{
        outline: none;
    }
}
.OLD_unliked{
    background-image: url(thumb_rounded_empty.svg);
}
.OLD_liked{
    background-image: url(thumb_rounded_full.svg);
}

#pagination-nav{
    margin: 2rem 0 2rem;
}

.page-item.disabled .page-link {
    color: $c_border_primary;
    background: $c_bg_main;
    border-color: $c_border_secondary;
}

.page-item.active .page-link {
    color: $c_txt_main;
    border-color: $c_border_secondary;
    background: $c_bg_main;
}

a.page-link {
    font-weight: bold;

    color: $c_txt_main;
    background: $c_post;
    border-color: $c_border_secondary;
    
    &:hover{
        color: $c_txt_main;
        background: $c_post;        
        border-color:$c_post_glow_border;
        box-shadow: 0 0 4px $c_post_glow;
    }
}



/* Add post only */
#add-post{
    padding: 0 2rem;
    margin-bottom: 2rem;
}



/* PROFILE PAGE ONLY */
.follow-pane{
    margin: 3rem 1rem 0;
    padding: 0;

    text-align: center;

    border: 1px solid $c_border_secondary;
    border-radius: 4px;

    h3{
        padding: 0.5rem 0;
        color: $c_txt_main;
        border-bottom: 1px solid $c_follow;
    }
}

.follow-count-num{
    font-size: 2.5rem;
    font-weight: bold;
}

.follow-btn{
    /* the button should also have a second class applied, "following" or "notfollowing" */
    width: 100%;
    padding: 0.3rem 0;

    font-size: 0.9rem;

    color: $c_txt_main;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    &:hover{
        box-shadow: 0 0 4px $c_follow_glow;
    }
}
.following{
    background: $c_follow;
    border: 1px solid $c_follow_dark;

    &:hover{
        border: 1px solid $c_follow_glow_border;
    }
}
.notfollowing{
    background: $c_bg_hollow;
    border: 1px solid $c_follow;

    &:hover{
        background: $c_bghv_hollow;
        border: 1px solid $c_follow_glow;
    }
}

#profile-posts{
    margin-top: 4rem;
}