.edit_id{
    display:none;
}

body{
    background: #333;
    color: white;
}

.body{
    margin-top: 2rem;
}

textarea{
    background: #222;
    padding: 0.5rem;
    color: white;
    border: 1px solid #777;
    border-radius: 4px;
    width: 100%;
}


.all-posts{
    border: 1px solid #777;  
    border-left: none;
    border-right: none;
    border-top: none;
}

.post{
    border-top: 2px solid #777;
    padding: 0.4rem 0.8rem;
    margin-top: 0.2rem;
}

.pheader{
    font-size: 0.85rem;
    color: #ddd;
    padding: 0.2rem;
    border-bottom: 1px solid #555;
}
.pbody{
    margin-top: 0.3rem;
}

.pcont-user a{
    font-weight: 1.2rem;
    font-weight: bold;
    color: rgb(255, 238, 0);
}
.pcont-user a:hover{
    color:white;
}

.pcont-edit{
    padding: 0.3rem;
}

.edit_btn{
    width: 100%;
    min-width: 3rem;
    margin-top: 0.8rem;
    padding: 0.1rem;

    font-size: 0.9rem;

    background: #222;
    color: rgb(198, 237, 255);

    border: 1px solid rgb(0, 174, 255);
    border-radius: 3px;
}
.edit_btn:hover{
    background: #282828;
    box-shadow: 0 0 4px 0 rgba(220, 244, 255, 0.623);
}

#new-post-btn, #save-post-btn{
    width: 100%;
    padding: 0.5rem;

    font-size: 1.2rem;
    font-weight: bold;

    color: white;
    background: rgb(0, 174, 255);
    border: 1px solid rgb(0, 66, 97);
    border-radius: 3px;
}
#new-post-btn:hover, #save-post-btn:hover{
    border: 1px solid rgba(220, 244, 255, 0.823);
    box-shadow: 0 0 4px 0 rgba(220, 244, 255, 0.623);
}


.pcont-likes{
    width: 100%;
    text-align: center;
    border: 1px solid #222;
    border-radius: 4px;
    background: #282828;
}
.pcont-likecount{
    width: 100%;
    text-align: center;
    /*background: rgb(0, 174, 255);*/
    background: rgb(0, 216, 0);
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.num-inc-likes{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.like_btn, .like_btn_replacement {
    width: 100%;
    height: 2rem;  
}
.like_btn_replacement{
    height: 2.25rem;
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: #666;
    padding: 4px 2px;
}
.like_btn{
    margin-top: 0.3rem;
    border: none;

    /* A background image for the like icon will be loaded by a second class applied to the same button */
    background: none;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center;
}
.unliked{
    background-image: url(thumb_rounded_empty.svg);
}
.liked{
    background-image: url(thumb_rounded_full.svg);
}




.follow-btn{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    font-size: 0.9rem;
    padding: 0.3rem 0;
    width: 100%;
}

.follow-btn:hover{
    border: 1px solid rgb(228, 170, 255);
    box-shadow: 0 0 4px rgb(208, 108, 255);
}

.following{
    background: rgb(174, 0, 255);
    border: 1px solid rgb(88, 0, 129);
}
.notfollowing{
    background: #444;
    border: 1px solid #444;
}
.notfollowing:hover{
    background: #666;
    border: 1px solid rgb(208, 108, 255);
}

.follow-pane{
    border: 1px solid #555;
    border-radius: 4px;
    margin: 3rem 1rem 0;
    text-align: center;
    padding: 0;
}

.follow-pane h3{
    border-bottom: 1px solid rgb(174, 0, 255);
    padding-bottom: 0.3rem;
}

.follow-count-num{
    font-size: 2.5rem;
    font-weight: bold;
}

#profile-posts{
    margin-top: 4rem;
}